
# Development dependencies
mypy
pyinstaller
pylint
pytest
pytest-pylint
pytest-mypy
pandas-stubs
types-requests
types-python-dateutil
types-python-slugify
black

# Application dependencies
pandas
python_docx
docxcompose
python-slugify
ttkwidgets
customtkinter
CTkMessagebox
requests
semver
chardet
keyring
sentry-dsn


# Documentation dependencies
plantweb
rstcheck
sphinx_rtd_theme
sphinx-tabs
