
# Development dependencies
mypy
pyinstaller
pylint
pytest
pytest-pylint
pytest-mypy

# Application dependencies
pandas 
python_docx
ttkwidgets
customtkinter
CTkMessagebox
requests
semver
chardet

# Documentation dependencies
plantweb
rstcheck
sphinx_rtd_theme
sphinx-tabs
